@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  list-style: none !important;
  text-decoration: none !important;
  box-sizing: border-box !important;
  scroll-behavior: smooth !important;
}
:root {
  --fs-2xl: 56px;
  --fs-xl: 48px;
  --fs-lg: 32px;
  --fs-md2: 28px;
  --fs-md: 24px;
  --fs-sm: 20px;
  --fs-xsm: 16px;
  --fs-xsm2: 16px;
  /* color */
  --color-clr_black: #151515 !important;
  --color-white: #ffffff;
  --color-white2: #fafafa !important;
  --color-footer: #0e202e;
  --color-darksky: #00ffcc !important;
}
.bg_black {
  background-color: var(--color-clr_black);
}
.bg_foot {
  background-color: var(--color-footer);
}
.clr_white {
  color: var(--color-white);
}
.clr_darksky {
  color: var(--color-darksky) !important;
}
.clr_white2 {
  color: var(--color-white2);
}
/* size */
.fs_2xl {
  font-size: var(--fs-2xl);
}
.fs_xl {
  font-size: var(--fs-xl);
}
.fs_lg {
  font-size: var(--fs-lg);
}
.fs_md {
  font-size: var(--fs-md);
}
.fs_sm {
  font-size: var(--fs-sm);
}
.fs_xsm {
  font-size: var(--fs-xsm);
}
.fs_xsm2 {
  font-size: var(--fs-xsm2);
}
/* family */
.ff_roboto {
  font-family: "Roboto", sans-serif;
}
.ff_poppins {
  font-family: "Poppins", sans-serif;
}
.ff_plus {
  font-family: "Plus Jakarta Sans", sans-serif;
}
/* weight */
.fw_400 {
  font-weight: 400;
}
.fw_500 {
  font-weight: 500;
}
.fw_600 {
  font-weight: 600;
}
.fw_900{
  font-weight: 900;
}
@media (max-width: 1200px) {
  :root {
    --fs-2xl: 46px;
    --fs-xl: 40px;
    --fs-lg: 32px;
    --fs-md: 24px;
    --fs-sm: 20px;
    --fs-xsm: 16px;
    --fs-xsm2: 14px;
  }
}
@media (max-width: 768px) {
  :root {
    --fs-2xl: 46px;
    --fs-xl: 35px;
    --fs-lg: 32px;
    --fs-md: 24px;
    --fs-sm: 20px;
    --fs-xsm: 16px;
    --fs-xsm2: 16px;
  }
}

@media (max-width: 576px) {
  :root {
    --fs-2xl: 36px;
    --fs-xl: 35px;
    --fs-lg: 30px;
    --fs-md: 24px;
    --fs-sm: 20px;
    --fs-xsm: 14px;
    --fs-xsm2: 16px;
  }
}
@media (max-width: 400px) {
  :root {
    --fs-2xl: 35px;
    --fs-xl: 30px;
    /* --fs-xl: 27px; */
    --fs-lg: 20px;
    --fs-md: 20px;
    --fs-sm: 20px;
    --fs-xsm: 10px;
    --fs-xsm2: 13px;
  }
}
